<ion-view>
<ion-content>
<div class="list list-inset">
	<div class = "img-login">
	<img src="./img/logo-1.png">
	</div>
	<form ng-submit="doLogin()">
		<label class="item item-input">
			<input type="text" placeholder="Email" ng-model="loginData.email">
		</label>
		<label class="item item-input">
			<input type="password" placeholder="Contraseña" ng-model="loginData.password">
		</label>
		<button class="button button-block button-wilz" type="submit">Entrar</button>
	</form>

	<div class = "row error-lbl">
		<div class = "col " ng-style="usuarioIncorrecto" >Usuario o contraseña incorrecta	</div>
	</div>

	<div class = "lbl-signup">
    <a href="" ui-sref = "signup">Crea tu cuenta</a>
	</div>
	
</div>
</ion-content>
</ion-view>