<ion-view>
<ion-content>
<div class="list list-inset">
	<form ng-submit="doLogin()">
		<label class="item item-input">
			<input type="text" placeholder="Email" ng-model="loginData.email">
		</label>
		<label class="item item-input">
			<input type="password" placeholder="Contraseña" ng-model="loginData.password">
		</label>
		<button class="button button-block button-positive" type="submit">Entrar</button>
	</form>
	<div class = "row">
		<div class = "col" ng-style="usuarioIncorrecto">Usuario o contraseña incorrecta	</div>
	</div>
</div>
</ion-content>
</ion-view>